<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/edit.css">
    <title>Edit Landscape</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Landscape</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/landscapes">landscapes</a>
                    <a class="nav-link" href="/landscapes/new">New landscape</a>
                    <a class="nav-link" href="/landscapes/map">Map</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <% if (!currentUser){ %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else { %>
                            <a class="nav-link" href="/logout">Logout</a>
                            <% } %>
                </div>
            </div>
        </div>
    </nav>
    <%- include('../partials/flash') %>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <h1 class="text-center text-light display-4">Edit landscape</h1>
                <div class="col-7">
                    <div class="card">
                        <form action="/landscapes/<%=landscape._id%>?_method=PUT" method="POST" novalidate
                            class="validated-form" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label class="form-label text-light" for="title">Title</label>
                                <input class="form-control" type="text" id="title" name="landscape[title]"
                                    value="<%=landscape.title %>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label text-light" for="location">Location</label>
                                <input class="form-control" type="text" id="location" name="landscape[location]"
                                    value="<%=landscape.location %>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label text-light" for="description">Description</label>
                                <textarea class="form-control" type="text" id="description"
                                    name="landscape[description]" required><%= landscape.description%></textarea>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-file custom-file">
                                    <input type="file" class="form-file-input text-light" id="image" name="image"
                                        multiple>
                                    <label class="form-file-label" for="image">
                                        <span class="form-file-text custom-file-label">Add more image(s)...</span>
                                        <span class="form-file-button">Browse</span>
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3 d-flex justify-content-center">
                                <% landscape.images.forEach(function(img, i) { %>
                                    <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                                    <div class="form-check-inline d-flex align-items-center">
                                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]"
                                            value="<%=img.filename%>">
                                        <label class="text-light" for="image-<%=i%>">Delete?</label>
                                    </div>
                                    <% })%>
                            </div>
                            <div class="my-5 d-flex">
                                <button class="btn btn-lg btn-info mr-3">Update landscape</button>
                                <a href="/landscapes/<%= landscape._id%>" class="btn btn-lg btn-primary">Back To
                                    landscape</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
        <script src='/javascripts/validateForms.js'></script>
</body>

</html>