<% layout('layouts/boilerplate') %>

<h1>Landscapes</h1>
<a class="btn btn-primary" href="/landscapes/new"> New Landscape </a>
<%  for (let landscape of landscapes) { %>
    <div class="card" mb-3>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="" src="<%= landscape.image %>">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= landscape.title %> </h5>
                    <p class="card-text"><%= landscape.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= landscape.location%></small>
                    </p>
                    <a class="btn btn-primary" href="/landscapes/<%=  landscape._id %>">View <%= landscape.title %></a>
                </div>
            </div>
        </div>
    </div>
    <% }%>            
